<li>
{{item.authors}} ({{item.status}}) {{item.title}} <em>{{item.journal}}</em> {{item.midfield}} <em>{{item.booktitle}}</em> {{item.lastfield}} {{item.links}}
<!-- <a href="{{item.pdf}}">[pdf]</a> <a href="{{item.data}}">[data]</a> -->
</li>